################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MehmetleIlkProje/v15/Server/sqlite3/db.lock
/MSMA1/.vs/MSMA1/v15/Server/sqlite3/db.lock
